<nav class="d-flex p-2 justify-content-between">
	<a href="/">Home</a>
	<ul class="d-flex list-unstyled">
		<li class="px-3"><a href="/about">Sobre nós</a></li>
		<li class="px-3"><a href="/prices">Planos e valores</a></li>
		<li class="px-3"><a href="/contact">Contato</a></li>
	</ul>
	<ul class="d-flex list-unstyled">
		<li class="px-3"><a href="/login">Login</a></li>
		<li class="px-3"><a href="/register">Registrar</a></li>
	</ul>
</nav>